NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
DATABASE_URL=
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
STRAVA_CLUB_ID=
CRON_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
